nav-bar {
    padding: 16px;
    width: 100%;
    background-color: #1B262C;
    color: white;
    display: block;
}
#carousel-banner{
    max-height: 600px;
}
.carousel-inner img {
    max-height: 600px;
    object-fit: cover;
}